---
import BaseLayout from '../layouts/BaseLayout.astro';
const posts = [
  {
    title: "Currently Learning: Rust and Web Dev",
    date: "3-1-2024",
    content: "I've decided to try learning Rust, as it hass quickly become an incredibly " +
      "popular language and is being adopted by more and more businesses. " +
      "It also just seems like a very versatile language, with syntax and tools that "+
      "really appeal to me. I'm also trying to learn basic web development, using " +
      "tools like Astro to build the site you're currently on!",
    tags: ["Learning", "Rust", "Web Dev", "Astro"]
  },
  {
    title: "Current Project: Minui, a terminal UI library from scratch",
    date: "11-1-2024",
    content: "This project started as me wanting to make a terminal-based clone of " +
             "Tetris, but no TUI library I could find quite fit my requirements. " +
             "As such, I decided to try making my own (not because it's easy, but " +
             "because I thought it would be easy). I'm doing this project primarily " +
             "in Rust so it doubles as a learning exercise.",
    tags: ["Project", "Minui", "Rust"]
  }
];
---
<BaseLayout title="Pinboard | Jack Derksen" description="Check out what I'm currently working on">
  <h1>Pinboard</h1>
  <div class="posts-container">
    {posts.map(post => (
      <article class="card post-card">
        <div class="post-content">
          <div class="post-header">
            <h2>{post.title}</h2>
            <time datetime={post.date} class="post-date">
              {new Date(post.date).toLocaleDateString()}
            </time>
          </div>
          <p>{post.content}</p>
          <div class="post-footer">
            <div class="post-tags">
              {post.tags.map(tag => <span class="tag">{tag}</span>)}
            </div>
          </div>
        </div>
      </article>
    ))}
  </div>
</BaseLayout>

<style>
  .posts-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    margin-top: var(--space-lg);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .post-card {
    width: 100%;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-xs);
  }

  .post-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    margin-bottom: var(--space-md);
  }

  .post-date {
    font-size: var(--font-size-sm);
    color: var(--contrast-secondary);
  }

  .post-footer {
    margin-top: auto;
    border-top: 2px solid var(--contrast-color);
    padding-top: var(--space-md);
  }

  .post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  @media (max-width: 768px) {
    .posts-container {
      padding: 0 var(--space-md);
    }
  }
</style>
